/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --main-white-color: #ffffff;
  --button-color: #f5f4fa;
}

* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--main-white-color);
  color: var(--primary-text-color);
  font-family: "roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
  color: inherit;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  pointer-events: none;
  position: absolute;
}

.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  margin-right: 93px;
  font-family: raleway;
  color: inherit;
}
.logo .accent {
  color: var(--accent-color);
  font-family: raleway;
}

.container {
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  color: var(--primary-text-color);
}

.header-line {
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
}

.header-nav {
  display: flex;
  align-items: center;
}

.site-nav-list {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
}
.site-nav-list .list:hover,
.site-nav-list .list:focus {
  color: var(--accent-color);
}

.link-list:not(:last-child) {
  margin-right: 50px;
}

.list {
  color: var(--primary-text-color);
}

.link-current {
  position: relative;
  padding-bottom: 32px;
  padding-top: 32px;
}
.site-nav-list .link-current {
  color: var(--accent-color);
}

.link-current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.contact-list {
  align-items: center;
  display: flex;
  margin-left: auto;
}

.email-link,
.phone-number-link {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.email-link {
  margin-right: 50px;
  display: flex;
  align-items: center;
  width: 100%;
}

.email-icon,
.phone-icon {
  margin-right: 10px;
}
.email-icon:hover, .email-icon:focus,
.phone-icon:hover,
.phone-icon:focus {
  fill: var(--accent-color);
}

.phone-number-link,
.email-link {
  display: flex;
  align-items: center;
}
.phone-number-link:hover, .phone-number-link:focus,
.email-link:hover,
.email-link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.hero {
  padding: 118px 60px;
  margin: 0 auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hero-mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .hero {
    min-width: 768px;
    padding: 118px 204px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hero-tablet.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    min-width: 1200px;
    padding: 200px 0px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  }
}

.hero-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
  color: var(--main-white-color);
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: block;
  margin: 0 auto;
  min-width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  color: var(--main-white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover .hero-btn:focus {
  background-color: #188ce8;
}

.about {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .about {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.about-block {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .about-block {
    width: 1200px;
  }
}

.about-block__list {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .about-block__list {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .about-block__list {
    width: 270px;
  }
}

.about-icon-wrap {
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-block__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-text-color);
}

.about-block__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.work__title,
.team__title,
.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.14;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .work__title,
.team__title,
.clients__title {
    margin-bottom: 50px;
  }
}

.clients__title {
  margin-bottom: 50px;
  text-align: center;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work {
  padding-bottom: 94px;
}
@media screen and (max-width: 480px) {
  .work {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .work {
    display: none;
  }
}
@media screen and (max-width: 768px) and (min-width: 1200px) {
  .work {
    width: 1200px;
  }
}

.work__block {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.work__item {
  gap: 30px;
  width: 370px;
  position: relative;
}

.work__description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  color: var(--main-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .team-list {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list {
    width: 1200px;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.team-card {
  width: 100%;
  max-height: 622px;
  text-align: center;
  background-color: var(--main-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team-card {
    max-width: 354px;
    max-height: 536px;
  }
}
@media screen and (min-width: 1200px) {
  .team-card {
    width: 270px;
    height: 422px;
  }
}

.team-title {
  margin-bottom: 50px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

.team-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
  color: var(--secondary-text-color);
}

.soc-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.soc-list-item {
  width: 44px;
  height: 44px;
  margin-left: 10px;
  display: flex;
}
.soc-list-item:first-child {
  margin-left: 0;
}

.team-item {
  padding: 30px 122px 324px 122px;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .team-item {
    padding: 30px 74px 24px 74px;
  }
}
@media screen and (min-width: 1200px) {
  .team-item {
    padding: 30px 32px 30px 32px;
  }
}

.soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-link:hover, .soc-link:focus {
  fill: var(--main-white-color);
  background-color: var(--accent-color);
}

.clients {
  background-color: var(--main-white-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__list {
    flex-wrap: nowrap;
  }
}

.clients__item {
  width: 210px;
  height: 92px;
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: 2170px;
  }
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border: 1px solid;
  border-color: currentColor;
  border-radius: 4px;
}

.clients__icon {
  fill: currentColor;
}

.main-portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .main-portfolio {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.filter-list {
  gap: 15px 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .filter-list {
    margin-bottom: 30px;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .filter-list {
    margin-bottom: 50px;
    justify-content: center;
  }
}

.filter-list .button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  font-family: inherit;
  border-style: none;
  background-color: var(--button-color);
  color: var(--primary-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button {
  padding: 6px 22px;
  border-radius: 4px;
}
.filter-list .button:hover, .filter-list .button:focus {
  color: var(--main-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-thumb {
  position: relative;
  width: 450px;
  height: 294px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .portfolio-thumb {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-thumb {
    width: 370px;
  }
}

.portfolio-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  display: inline-block;
  position: absolute;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  color: var(--main-white-color);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-list {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
  width: 450px;
  height: 404px;
  outline: 1px solid #eeeeee;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list:hover .portfolio-description {
  top: 0;
  left: 0;
  transform: translateY(0);
  background: rgba(33, 150, 243, 0.9);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .portfolio-list {
    width: 354px;
    height: 440px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-list {
    width: 370px;
    height: 404px;
  }
}

.portfolio-card {
  width: 100%;
  padding: 20px 24px;
  background-color: var(--main-white-color);
}

.portfolio-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: var(--secondary-text-color);
}

.footer-block {
  display: flex;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container,
.subscribe-block,
.subscribe-form,
.social-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .contact-footer {
    width: 50%;
  }
}

.footer-logo {
  margin: 0 auto;
}

.address {
  margin-top: 20px;
  margin-bottom: 60px;
}

.logo-white {
  color: var(--main-white-color);
}

.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--main-white-color);
}
.footer-address:hover, .footer-address:focus {
  color: var(--accent-color);
}

.footer-email,
.footer-phone {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
}
.footer-email:hover, .footer-email:focus,
.footer-phone:hover,
.footer-phone:focus {
  color: var(--accent-color);
}

.footer-list {
  font-style: normal;
}

.footer-email-list {
  margin-top: 8px;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .social-footer {
    width: 50%;
  }
}

.social-footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  padding-top: 12px;
  color: var(--main-white-color);
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}

.social-footer-block {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 450px;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .social-footer-block {
    margin-bottom: 102px;
  }
}

.social-footer-list {
  display: flex;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.social-footer-links {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: var(--main-white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-footer-links:hover, .social-footer-links:focus {
  background-color: var(--accent-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.subscribe-block {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.subscribe-input {
  width: 358px;
  height: 50px;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-left: 16px;
  padding-bottom: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: var(--button-color);
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
}
.subscribe-input:focus {
  border-color: var(--accent-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .subscribe-input {
    width: 450px;
  }
}

.subscribe-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: block;
  justify-content: center;
  color: rgba(255, 255, 255, 0.6);
}

.subs-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: flex;
  width: 200px;
  height: 50px;
  padding: 10px 28px 10px 29px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--main-white-color);
  border: none;
  position: relative;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: auto;
}

.subscribe-icon {
  fill: var(--main-white-color);
  display: flex;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear, visibility 250ms linear;
}

.modal {
  width: 528px;
  min-height: 581px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: var(--main-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-button {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  background-color: var(--main-white-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.modal-button:hover {
  cursor: pointer;
  fill: var(--accent-color);
  border-radius: 50%;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  margin-top: 4px;
  padding-left: 35px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
}
.modal-input:focus {
  border-color: var(--accent-color);
}

.input-area {
  margin-bottom: 10px;
}

.submit-btn {
  width: 200px;
  height: 50px;
  display: block;
  padding: 10px 55px;
  margin: 0 auto;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  font-weight: 700;
  font-size: 16px;
  line-height: calc 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-white-color);
}

.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: calc 1.1666666667;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-text {
  width: 100%;
  height: 120px;
  padding-top: 12px;
  padding-left: 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  background-color: transparent;
}
.modal-text:focus {
  outline: var(--accent-color);
  border-color: var(--accent-color);
}

.modal-text::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.8);
}

.input-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translatey(-50%);
}

.modal-input:focus + .input-icon {
  fill: var(--accent-color);
}

.check-text a {
  color: var(--accent-color);
}

.check-text {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  color: var(--secondary-text-color);
  display: flex;
  align-items: center;
  position: relative;
}

.check-text::before {
  content: "";
  width: 40px;
  height: 22px;
  border-radius: 50px;
  border: 1px solid var(--secondary-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-text::after {
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 50%;
  left: 3px;
  top: 3px;
  border: 1px solid var(--secondary-text-color);
  background-color: var(--secondary-text-color);
  position: absolute;
  margin-right: 10px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms;
}

.check-input:checked + .check-text::after {
  transform: translate(18px);
  background-color: #ffffff;
}

.check-input:checked + .check-text::before {
  background-color: var(--accent-color);
}

.check-input:checked + .check-text::before {
  background-color: var(--accent-color);
}/*# sourceMappingURL=main.css.map */