.about {
  //padding-top: 94px;
  //padding-bottom: 94px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.about-block {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 480px;
}

.about-block__list {
  width: 100%;
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
}

.about-icon-wrap {
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-block__subtitle {
  @include fonts(700, 14px, 1.14, null);
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-text-color);
}

.about-block__text {
  @include fonts(400, 14px, 1.71, null);
  color: var(--secondary-text-color);
}
