.about {
  padding-top: 94px;
  padding-bottom: 94px;
}

.about-block {
  display: flex;
  justify-content: space-between;
}

.about-block__list {
  width: 270px;
}

.about-block__subtitle {
  @include fonts (700, 14px, 1.14, null);
  margin-bottom: 10px;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.about-block__text {
  @include fonts(400, 14px, 1.71, null);
  color: var(--secondary-text-color);
}

.about-block__icon {
  margin-bottom: 30px;
}
