.clients {
  background-color: var(--main-white-color);
  padding-top: 60px;
  padding-bottom: 60px;
  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  @include desktop {
    flex-wrap: nowrap;
  }
}

.clients__item {
  width: 210px;
  height: 92px;
  @include tablet {
    width: 226px;
  }
  @include desktop {
    width: 2170px;
  }
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 100%;
  height: 100%;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
    border: 1px solid;
    border-color: currentColor;
    border-radius: 4px;
  }
}

.clients__icon {
  fill: currentColor;
}
