.footer-block {
  display: flex;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  @include desktop {
  }
}

//моб
.footer-container,
.subscribe-block,
.subscribe-form,
.social-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include desktop {
    flex-wrap: nowrap;
    align-items: flex-start;
  }
}

.contact-footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include tablet {
    width: 50%;
  }
  @include desktop {
    width: 316px;
    margin-right: 70px;
  }
}

.footer-logo {
  width: 100%;
  display: flex;
  justify-content: center;
  & .link {
    margin: 0 auto;
  }

  @include desktop {
    justify-content: flex-start;
  }
}

.address {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 60px;

  @include desktop {
    margin-bottom: 9px;
    text-align: left;
  }
}

.logo-white {
  color: var(--main-white-color);
}

.footer-address {
  @include fonts(400, 14px, 1.7, null);
  color: var(--main-white-color);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-email,
.footer-phone {
  @include fonts(400, 14px, 1.7, null);
  color: rgba(255, 255, 255, 0.6);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-list {
  font-style: normal;
}

.footer-email-list {
  margin-top: 8px;
  margin-bottom: 8px;
  @include desktop {
    margin-top: 9px;
    margin-bottom: 9px;
  }
}

//social-footer----------------------------------
.social-footer {
  width: 100%;
  margin-right: 0;
  @include tablet {
    width: 50%;
  }
  @include desktop {
    flex-direction: column;
    width: 206px;
    margin-right: 93px;
    align-items: flex-start;
  }
}

.social-footer-title {
  @include fonts(700, 14px, 1.14, null);
  padding-top: 12px;
  color: var(--main-white-color);
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
  @include desktop {
    text-align: left;
  }
}

.social-footer-block {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 60px;
  max-width: 450px;
  width: 100%;

  @include tablet {
    margin-bottom: 102px;
  }
  @include desktop {
    justify-content: flex-start;
    margin-bottom: 0;
  }
}

.social-footer-list {
  display: flex;

  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.social-footer-links {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: var(--main-white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    width: 44px;
    height: 44px;
    border-radius: 50%;
  }
}

//subscribe---------------------------------

.subscribe-block {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  @include desktop {
    align-items: flex-start;
  }
}

.subscribe-form {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  @include desktop {
    flex-direction: row;
  }
}

.subscribe-input {
  //width: 450px;
  width: 100%;
  height: 50px;
  //mob
  margin-bottom: 20px;

  padding-top: 15px;
  padding-left: 16px;
  padding-bottom: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;

  color: var(--button-color);
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  &:focus {
    border-color: var(--accent-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
  }
  @include tablet {
    width: 450px;
  }
  @include desktop {
    width: 358px;
    margin-right: 12px;
  }
}

.subscribe-input::placeholder {
  @include fonts(400, 16px, 1.25, null);
  display: block;
  justify-content: center;
  color: rgba(255, 255, 255, 0.6);
}

.subs-btn {
  @include fonts(700, 16px, 1.88, 0.06em);
  width: 200px;
  height: 50px;
  padding: 10px 28px 10px 29px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--main-white-color);
  border: none;

  display: flex;
  position: relative;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: auto;
  @include desktop {
    margin: 0;
  }
}

.subscribe-icon {
  fill: var(--main-white-color);
  display: flex;
  margin-left: 10px;
}
