.header {
  padding-top: 24px;
  padding-bottom: 25px;
  color: var(--primary-text-color);
}

.header-line {
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
}

.header-nav {
  display: flex;
  align-items: center;
}
