.header {
  padding-top: 16px;
  padding-bottom: 16px;
  color: var(--primary-text-color);

  @include tablet {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  @include desktop {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.header-line {
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
}

.header-nav {
  display: none;
  @include tablet {
    display: flex;
    align-items: center;
  }
  @include desktop {
    display: flex;
    align-items: center;
  }
}
