.contact-list {
  align-items: center;
  display: flex;
  margin-left: auto;
}

.email-link,
.phone-number-link {
  @include fonts(null, 14px, 1.14, 0.02em);
  color: var(--secondary-text-color);
}

.email-link {
  margin-right: 50px;
  display: flex;
  align-items: center;
  width: 100%;
}

.email-icon,
.phone-icon {
  margin-right: 10px;
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.phone-number-link,
.email-link {
  display: flex;
  align-items: center;
  &:hover,
  &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}
