.site-nav-list {
  display: none;
  @include tablet {
    display: flex;
    @include fonts(null, 14px, 1.14, 0.02em);
    display: flex;
    .list:hover,
    .list:focus {
      color: var(--accent-color);
    }
  }
  @include desktop {
    display: flex;
    @include fonts(null, 14px, 1.14, 0.02em);
    display: flex;
    .list:hover,
    .list:focus {
      color: var(--accent-color);
    }
  }
}

.link-list:not(:last-child) {
  margin-right: 50px;
}

.list {
  color: var(--primary-text-color);
}

.link-current {
  position: relative;
  padding-bottom: 32px;
  padding-top: 32px;
  .site-nav-list & {
    color: var(--accent-color);
  }
}

.link-current::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}
